<nav>
    
    <a href="../"><img  class="logo" src="/logodesk.png" alt=""></a>
    <div class="links">
        <form action="/logout" class="loggbox" method="get">
            <button type="submit" class="loggout">Logout</button>
          </form>
        <!-- <a href="../logout" class="logout">logout</a> -->
        <a href="../guide">guide</a>
        <a href="/ny_guide" class="ny_guides">ny guide</a>
    </div>
</nav>