<nav>
    <a href="../"><img  class="logo" src="/logodesk.png" alt=""></a>
    <div class="links">
        <a href="../guide">guide</a>
        <% if (isloggedin){ %>
            <a href="/dashboard">profile</a>
           <%} else{ %>
                <a href="/login">Logg inn</a>
           <%}%>
    </div>
</nav>