<%- include("./partials/header") %>
<body>
    <%- include("./partials/nav1") %>
    <div class="test">
        <div class="background1">
            <a class="tittels" href="#tittel1">
                <p>tittel1</p>
            </a>
            <a class="tittels" href="#tittel2">
                <p>tittel2</p>
            </a>
            <a class="tittels" href="#tittel3">
                <p>tittel3</p>
            </a>
            <a class="tittels" href="#tittel4">
                <p>tittel4</p>
            </a>
            <a class="tittels" href="#tittel5">
                <p>tittel5</p>
            </a>
            <a class="tittels" href="#tittel6">
                <p>tittel6</p>
            </a>
        </div>
        <!-- <div class="background"></div> -->
        <div class="background">
            <h1>Guide til Verden</h1>
            <div class="tekster">

                <div  class="texton">
                    <h2 id="tittel1">tittels1 </h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat id aperiam nulla nisi quaerat. Excepturi omnis officia sed cumque fuga sit. Necessitatibus alias ut earum, assumenda illum magnam aspernatur exercitationem!
                    Eaque reprehenderit beatae dolor voluptate doloremque voluptas, quidem, nostrum exercitationem debitis aut iusto qui, voluptatum impedit. Quos velit id eveniet illo, excepturi, placeat et consequuntur cumque commodi modi, nisi optio.
                    Magni aliquid est quos debitis ea animi molestiae repellendus repellat ex libero dolor voluptatum optio, aut, illum eveniet doloribus pariatur nulla impedit? Harum tempore nostrum laborum quod, non quas placeat!</p>
                               </div>
                <div  class="texton">
                    <h2 id="tittel2">tittels2 </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae placeat beatae provident sed earum aliquid deserunt, molestiae nisi, architecto, quos sequi tempore quaerat qui aperiam repudiandae tempora molestias obcaecati repellat.
                    Exercitationem tempore ratione quam vel doloremque veniam minus deserunt ipsa, debitis magni nemo earum! Soluta tempora nulla odio corporis eum doloremque animi quos amet, voluptatibus in labore sed aperiam aliquam.
                    Veritatis iusto, quibusdam ullam corporis magni debitis ea omnis repellat vel molestias at, eius nihil. Reprehenderit ea, fuga impedit eligendi deleniti beatae debitis a odio sed vero consequuntur, autem quisquam?</p>
                </div>
                <div  class="texton">
                <h2 id="tittel3">tittels3 </h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, rem illum esse aliquid veritatis totam rerum optio voluptatem commodi, et, exercitationem veniam? Consequuntur error minus quidem quae sunt tempore voluptatibus?
                Sit atque commodi facilis repellat dicta, quas quis aperiam, nam reprehenderit officia quia laudantium nihil omnis earum cumque numquam similique nobis quisquam animi ut! Eum vel molestiae quae pariatur laboriosam.
                Natus facere, omnis quidem autem labore non eius voluptate, iure at quasi officiis! Tempora voluptatem illum fugit repellendus similique accusamus minima. Voluptatibus reprehenderit fuga omnis in repellendus minima temporibus error?</p>
            </div>
            <div class="texton">
                <h2 id="tittel4">tittels4 </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nesciunt adipisci sed temporibus delectus ad perspiciatis inventore minima molestias dolores, rerum dolorum beatae mollitia porro corporis ipsam accusantium laboriosam non?
                Possimus excepturi iure reiciendis ut ea nostrum odio voluptatum molestias veniam aspernatur pariatur, corrupti, tempore deleniti iusto aliquam ullam voluptatem cumque architecto ipsam quos? Fugit pariatur ex id quisquam dolore.
                Iusto dignissimos voluptatibus vero perspiciatis, corporis sint! Et, expedita repellat. Quis id nulla pariatur facere totam, consequuntur cum veniam ab nesciunt corrupti quae omnis maxime, tempora distinctio saepe nostrum eveniet.</p>
            </div>
            <div  class="texton">
                <h2 id="tittel5">tittels5 </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nesciunt adipisci sed temporibus delectus ad perspiciatis inventore minima molestias dolores, rerum dolorum beatae mollitia porro corporis ipsam accusantium laboriosam non?
                Possimus excepturi iure reiciendis ut ea nostrum odio voluptatum molestias veniam aspernatur pariatur, corrupti, tempore deleniti iusto aliquam ullam voluptatem cumque architecto ipsam quos? Fugit pariatur ex id quisquam dolore.
                Iusto dignissimos voluptatibus vero perspiciatis, corporis sint! Et, expedita repellat. Quis id nulla pariatur facere totam, consequuntur cum veniam ab nesciunt corrupti quae omnis maxime, tempora distinctio saepe nostrum eveniet.</p>
            </div>
            <div  class="texton">
                <h2 id="tittel6">tittels6 </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nesciunt adipisci sed temporibus delectus ad perspiciatis inventore minima molestias dolores, rerum dolorum beatae mollitia porro corporis ipsam accusantium laboriosam non?
                Possimus excepturi iure reiciendis ut ea nostrum odio voluptatum molestias veniam aspernatur pariatur, corrupti, tempore deleniti iusto aliquam ullam voluptatem cumque architecto ipsam quos? Fugit pariatur ex id quisquam dolore.
                Iusto dignissimos voluptatibus vero perspiciatis, corporis sint! Et, expedita repellat. Quis id nulla pariatur facere totam, consequuntur cum veniam ab nesciunt corrupti quae omnis maxime, tempora distinctio saepe nostrum eveniet.</p>
            </div>
        </div>
        </div>
    </div>
</body>
</html>