<%- include("./partials/header") %>
<body>
    <%- include("./partials/nav") %>
    <!-- <nav>
        <img class="logo" src="/logodesk.png" alt="">
        <div class="links">
            <a href="">guide</a>
            <a href="">logg inn</a>
        </div>
    </nav> -->
    <div class="search-bar">
        <form action="/search" method="GET">
            <input type="text" name="query" class="search-input" placeholder="Search here" required>
        </form>
    </div>
    <div class="allebox">
       
        <a class="din" href="/guide#tittel1"><div class="boxes">tittels1</div></a>
        <a class="din" href="/guide#tittel2"> <div class="boxes">tittels2</div></a>
        <a class="din" href="/guide#tittel3"> <div class="boxes"></div></a>
        <a class="din" href="/guide#tittel4"> <div class="boxes"></div></a>
        <a class="din" href="/guide"> <div class="boxes"></div></a>
        <a class="din" href="/guide"> <div class="boxes"></div></a>
       
    </div>
</body>
</html>