<%- include("./partials/header") %>
<body>
    <%- include("./partials/nav") %>
    <!-- <nav>
        <img class="logo" src="/logodesk.png" alt="">
        <div class="links">
            <a href="">guide</a>
            <a href="">logg inn</a>
        </div>
    </nav> -->
    <h1>hello</h1>
    <div class="allebox">
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
    </div>
</body>
</html>