<%- include("./partials/header") %>
<body>
    <h1>Du sikker?</h1>
    <div class="boxenes">
        <h2>helt sikker du vil logg ut?</h2>
        <button onclick="destroy" class="ja">ja</button>
        <a href="./dashborad" class="nei">nei</a>
    </div>
</body>
</html>